@import 'fonts';
@import 'bootstrap';
@import 'reset';
@import '../js/royalslider/royalslider';
@import '../js/royalslider/skins/default/rs-default';


/* BOOTSTRAP OVERIDES */
@media (min-width: 1200px){
  .container {

  }
}
/* GLOBALS */
.trans-med {
  transition: all ease .3s;
}
.trans-slow {
  transition: all ease 1s;
}
.debug {
	border: solid 1px #ddd;
}
.transition-medium {
  transition: all ease .3s;
}
.uppercase {
  text-transform: uppercase;
}

body {
  margin-top: 60px;
}
.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  .logo {
    height: 60px;
    width: 300px;
    float: left;
    line-height: 60px;
     .debug; 
     a{
       display: block;
     }
  }
  height: 60px;
  .debug; 
  background: white;
  ul{
    display: inline-block;
    li{
    display: inline-block;
      a {
        display: inline-block;
      }
    }
  }
}

.slide-wrapper {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  #homepage-gallery {
    width: auto;
    height: auto;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}