@import 'fonts';
@import 'bootstrap';
@import 'reset';
@import '../js/royalslider/royalslider';
@import '../js/royalslider/skins/default/rs-default';


/* BOOTSTRAP OVERIDES */
@media (min-width: 1200px){
  .container {

  }
}
/* GLOBALS */
.trans-med {
  transition: all ease .3s;
}
.trans-slow {
  transition: all ease 1s;
}
.debug {
	border: solid 1px #ddd;
}
.transition-medium {
  transition: all ease .3s;
}
.uppercase {
  text-transform: uppercase;
}


.main-header {
  .logo {
    height: 60px;
    width: 300px;
    float: left;
    line-height: 60px;
     .debug; 
     a{
       display: block;
     }
  }
  height: 60px;
  .debug; 
  background: white;
  ul{
    display: inline-block;
    li{
    display: inline-block;
      a {
        display: inline-block;
      }
    }
  }
}