@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('fonts/MonoSocialIconsFont-1.10.eot');
  src: url('fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'), url('fonts/MonoSocialIconsFont-1.10.woff') format('woff'), url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'), url('fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Adobe_Caslon_Regular';
  src: url('fonts/Adobe_Caslon_Regular.eot');
  src: url('fonts/Adobe_Caslon_Regular.woff') format('woff'), url('fonts/Adobe_Caslon_Regular.ttf') format('truetype'), url('fonts/Adobe_Caslon_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_ACaslonPro-Italic';
  src: url('fonts/ACaslonPro-Italic.eot');
  src: url('fonts/ACaslonPro-Italic.woff') format('woff'), url('fonts/ACaslonPro-Italic.ttf') format('truetype'), url('fonts/ACaslonPro-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Druk-Heavy';
  src: url('fonts/Druk-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/Druk-Heavy.otf') format('opentype'), url('fonts/Druk-Heavy.woff') format('woff'), url('fonts/Druk-Heavy.ttf') format('truetype'), url('fonts/Druk-Heavy.svg#Druk-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DrukText-Bold';
  src: url('fonts/DrukText-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/DrukText-Bold.otf') format('opentype'), url('fonts/DrukText-Bold.woff') format('woff'), url('fonts/DrukText-Bold.ttf') format('fonts/truetype'), url('fonts/DrukText-Bold.svg#DrukText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DrukText-Medium';
  src: url('fonts/DrukText-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/DrukText-Medium.otf') format('opentype'), url('fonts/DrukText-Medium.woff') format('woff'), url('fonts/DrukText-Medium.ttf') format('truetype'), url('fonts/DrukText-Medium.svg#DrukText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
